/*
 * Soliguide: Useful information for those who need it
 *
 * SPDX-FileCopyrightText: © 2024 Solinum
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

.aa-ItemLink,
.aa-ItemWrapper {
  justify-content: left !important;
}

.aa-CategoryIcon {
  img {
    width: 45px;
    height: auto;
    padding: 0.2rem;
  }

  span {
    padding: 0.7rem 0.1rem;
    display: inline-block;
  }
  min-width: 40px !important;
  min-height: 40px !important;
  font-size: 1.8rem !important;
  color: var(--bs-primary) !important;
  fill: var(--bs-primary);
  margin-right: 0.2rem;
}

.aa-ItemContentTitle {
  font-size: 1.1rem;
}

.aa-Label {
  margin: 0 !important;
}
.aa-Input,
.aa-PanelLayout {
  padding: 0 !important;
}

.aa-SourceHeader {
  padding: 0.6rem 0.5rem;
  font-weight: 600;
  margin: 0;
  font-size: 1rem;
  border-bottom: 1px solid rgb(116, 116, 116);
}
.aa-Panel,
.aa-PanelLayout {
  z-index: 40000;
}
.aa-Item {
  padding: 0.3rem 0.2rem;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.search-input {
  min-width: 340px;

  .aa-Form:focus-within,
  .aa-Form {
    border: none !important;
    padding: none !important;
    box-shadow: none !important;
  }

  .aa-Autocomplete {
    button {
      border: none;
    }
  }
}
