.admin_photo {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 5px 1%;
  border-radius: 10px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.red-cross {
  position: absolute;
  top: 9px;
  right: 9px;
}

.big-plus {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #c9c9c9;
  background: center / 30% no-repeat
    url("../../../../../../assets/images/symbols/big-plus-grey.svg");
}

.big-plus + input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
