.orga-title {
  font-style: normal;
  font-weight: light;
  font-size: 1.5rem;
  line-height: 33px;
}

.link {
  text-decoration: underline;
  color: var(--bs-primary);
  background-color: transparent;
}

.orga-img {
  width: 150px;
}

ul {
  list-style: none;
}

li {
  padding: 0.5rem 0;
}

.fill {
  min-height: inherit;
  height: inherit;
}

.disabled {
  background-color: var(--light);
  color: var(--grey);
}
