.dropdown {
  width: 200px;
}

.dropdown-item:hover {
  background-color: #d6d6d6;
}

.dropdown-item * {
  display: inline-block;
  margin-right: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.05rem;
  line-height: 150%;
}
