.close-alert {
  top: 0;
  right: 6px;
}

#chat-placeholder {
  background-color: var(--bs-secondary);
  position: fixed;
  bottom: 22px;
  right: 22px;
  border-radius: 100%;
  padding: 1rem;
  outline: none;
  border: 0;
  z-index: 40000;
}

#chat-placeholder img {
  width: 30px;
  height: 30px;
  filter: invert(0%) sepia(0%) saturate(7466%) hue-rotate(236deg)
    brightness(90%) contrast(107%);
}
