version = 1

test_patterns = ["**/*.spec.ts"]

exclude_patterns = [
  "data/**",
  "packages/frontend/src/assets/js/silktide-consent-manager.js",
  "packages/frontend/src/assets/js/silktide-customization.js"
]

[[analyzers]]
name = "shell"

  [analyzers.meta]
  dialect = "bash"

[[analyzers]]
name = "javascript"

  [analyzers.meta]
  plugins = ["angular"]
  environment = [
    "nodejs",
    "browser",
    "jest",
    "mongo"
  ]
  dependency_file_paths = [
    "packages/api",
    "packages/common",
    "packages/common-angular",
    "packages/frontend",
    "packages/location-api",
    "packages/soligare",
    "packages/widget"
  ]
  module_system = "es-modules"
  dialect = "typescript"
  skip_doc_coverage = ["function-declaration", "function-expression", "arrow-function-expression", "class-declaration", "class-expression", "method-definition"]

[[analyzers]]
name = "docker"

  [analyzers.meta]
  dockerfile_paths = [
    "packages/api/Dockerfile",
    "packages/maintenance/Dockerfile",
    "packages/frontend/Dockerfile",
    "packages/widget/Dockerfile",
    "packages/soligare/Dockerfile",
    "packages/location-api/Dockerfile"
  ]

[[analyzers]]
name = "secrets"
