
.deepsource.toml
.dockerignore
.editorconfig
.github/
.nx/
.vscode/
commitlint.config.js
docker-compose.yml
**/*.license
**/*.log
**/*.md
**/.angular
**/.env*
!packages/api/.env.test
**/coverage
**/dist
**/Dockerfile*
**/license.config.json
**/node_modules
