

SOLIGUIDE_API_URL=http://localhost:4200
SOLIGUIDE_FRONTEND_URL=http://localhost:4201
SOLIGUIDE_WIDGET_URL=http://localhost:3001
SOLIGARE_API_URL=http://localhost:3003

# DEV - PROD - PREPROD
SOLIGUIDE_ENV_ID=DEV

# https://console.cloud.google.com/apis/credentials
SOLIGUIDE_GOOGLE_MAPS_KEY=

# https://sentry.io/
SOLIGUIDE_SENTRY_DSN=

SOLIGUIDE_CRISP_WEBSITE_ID=

# index,follow for production ; else noindex,nofollow
SOLIGUIDE_FRONTEND_META_ROBOTS=noindex,nofollow

########################################################
# # Prod
# SOLIGUIA_ES_DOMAIN_NAME=soliguia.es
# SOLIGUIA_AD_DOMAIN_NAME=soliguia.ad
# SOLIGUIDE_FR_DOMAIN_NAME=soliguide.fr
# # Demo
# SOLIGUIA_ES_DOMAIN_NAME=es.demo.soliguide.dev
# SOLIGUIA_AD_DOMAIN_NAME=ad.demo.soliguide.dev
# SOLIGUIDE_FR_DOMAIN_NAME=fr.demo.soliguide.dev
# # Dev
# SOLIGUIA_ES_DOMAIN_NAME=dev_local.soliguia.es
# SOLIGUIA_AD_DOMAIN_NAME=dev_local.soliguia.ad
# SOLIGUIDE_FR_DOMAIN_NAME=dev_local.soliguide.fr
########################################################
SOLIGUIA_ES_DOMAIN_NAME=dev_local.soliguia.es
SOLIGUIA_AD_DOMAIN_NAME=dev_local.soliguia.ad
SOLIGUIDE_FR_DOMAIN_NAME=dev_local.soliguide.fr
