@media only screen and (min-width: 500px) {
  .btn-maj {
    max-width: 280px;
  }
}

@media only screen and (min-width: 767px) {
  .btn-maj:first-of-type {
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 989px) {
  .btn-maj:first-of-type {
    margin-right: 3.5rem;
  }
}
