.form-container > .row {
  margin-bottom: 1rem;
}

.sidebar-sticky div {
  padding: 0.5rem 0;
}

.sidebar-sticky {
  position: sticky;
  left: 0;
  top: 20px;
}

.sidebar-sticky ul {
  margin: 0;
  padding: 0;
}

.sidebar-sticky li {
  list-style-type: none;
  margin: 0.75rem 0;
}

.inactive {
  color: #8a8a8a;
}

.hours-description {
  font-style: italic;
}

:host ::ng-deep .tooltip-visible .tooltip-inner {
  border: black 1px solid;
}

li .btn {
  width: 100%;
}
