#form_recherche {
  width: 920px;
  margin: 0 auto;
  max-width: 98%;

  button {
    vertical-align: middle;
  }
}

@media (max-width: 1024px) {
  #form_recherche > .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.search-input {
  min-width: 340px;
}
