.place-disabled {
  opacity: 0.4;
}

.merci img {
  width: 35px;
  margin-left: 6px;
  height: auto;
}

.merci * {
  display: inline-block;
  vertical-align: middle;
}

.banner {
  background-color: #fef9c3;
}
