.title {
  min-height: 40px;
}

.btn.disabled,
.btn:disabled {
  background-color: #e65a46;
  color: white;
  opacity: 1;
}

.btn.disabled,
.btn:disabled,
.public-selector .btn {
  min-width: 90px;
  border-radius: 5px;
}

.age-form input {
  width: 50px;
  min-height: 36px;
  margin: 0 12px;
  padding: 0;
  text-align: center;
  border-radius: 8px;
}

.age-form input.is-valid,
.age-form input.is-invalid {
  background: white;
}
