.languages {
  background: white;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0.6rem 0.85rem;
  margin-right: 6px;
  margin-bottom: 6px;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
}

img {
  width: 20px;
  height: 20px;
  margin-right: 13px;
}
