.service-title {
  background-color: #f2f5f9;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  padding: 20px 15px;
  cursor: pointer;
  color: rgba(28, 28, 28);
}

.label.required::after {
  content: " *";
  color: red;
}
