.transport-stop-point {
  min-width: 35px;
  padding: 0.25rem;
  margin: 0.15rem;
  font-weight: 600;
  font-size: 1.15rem;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.7px;
  display: inline-block;
  vertical-align: middle;
}

.transport_direction {
  font-size: 1.1rem;
  font-weight: 600;
  color: #646464;
}

.ng-fa-icon {
  color: black;
  font-size: 1.4rem;
  width: 22px;
  display: inline-block;
  vertical-align: middle;
}

.ile-de-france {
  .SUBWAY {
    .transport-stop-point {
      width: 28px;
      border-radius: 150px;
      padding: 0.25rem;
    }
  }
}

.hauts-de-france {
  .SUBWAY {
    .transport-stop-point {
      width: 40px;
      border-radius: 150px;
      padding: 0.5rem 0.3rem;
    }
  }
}
