.location {
  background: white;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
  border-radius: 6px;
  vertical-align: middle;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
}

.location.disabled {
  color: #212529;
  background-color: #e9ecef;
  border-color: #ced4da;
  font-weight: 400;
  text-decoration: line-through;
  transition: border-color 0.15s ease-in-out, font-weight 0.15s ease-in-out,
    text-decoration 0.15s ease-in-out;
}
