footer a:visited,
footer a {
  color: white !important;
}

#list_footer ul {
  list-style: none;
}

#list_footer li {
  letter-spacing: 0.7px;
  font-size: 1rem;
  line-height: 1.8rem;
}

#list_footer li.title_list_footer {
  font-size: 1.3rem;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
