.pwd-strength-meter,
.pwd-strength-meter-full {
  height: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.pwd-strength-meter-full {
  margin-top: 8px;
}

.used-email {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #da3849;
}

.user-email {
  text-decoration: underline;
}

label {
  font-size: 1rem !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 19px;
}
