@font-face {
  font-family: 'categories-icons';
  src:
    url('../fonts/icons/categories-icons.woff2?t=1771504813021') format('woff2'),
    url('../fonts/icons/categories-icons.woff?t=1771504813021') format('woff');
}

[class^='category-icon-'],
[class*=' category-icon-'] {
  font-family: 'categories-icons' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.category-icon-access_to_housing::before {
  content: '\ea01';
}
.category-icon-access_to_housing_outlined::before {
  content: '\ea02';
}
.category-icon-accomodation_and_housing::before {
  content: '\ea03';
}
.category-icon-accomodation_and_housing_outlined::before {
  content: '\ea04';
}
.category-icon-activities::before {
  content: '\ea05';
}
.category-icon-activities_outlined::before {
  content: '\ea06';
}
.category-icon-acupuncture::before {
  content: '\ea07';
}
.category-icon-acupuncture_outlined::before {
  content: '\ea08';
}
.category-icon-addiction::before {
  content: '\ea09';
}
.category-icon-addiction_outlined::before {
  content: '\ea0a';
}
.category-icon-administrative_assistance::before {
  content: '\ea0b';
}
.category-icon-administrative_assistance_outlined::before {
  content: '\ea0c';
}
.category-icon-allergology::before {
  content: '\ea0d';
}
.category-icon-allergology_outlined::before {
  content: '\ea0e';
}
.category-icon-animal_assitance::before {
  content: '\ea0f';
}
.category-icon-animal_assitance_outlined::before {
  content: '\ea10';
}
.category-icon-baby_parcel::before {
  content: '\ea11';
}
.category-icon-baby_parcel_outlined::before {
  content: '\ea12';
}
.category-icon-babysitting::before {
  content: '\ea13';
}
.category-icon-babysitting_outlined::before {
  content: '\ea14';
}
.category-icon-budget_advice::before {
  content: '\ea15';
}
.category-icon-budget_advice_outlined::before {
  content: '\ea16';
}
.category-icon-cardiology::before {
  content: '\ea17';
}
.category-icon-cardiology_outlined::before {
  content: '\ea18';
}
.category-icon-carpooling::before {
  content: '\ea19';
}
.category-icon-carpooling_outlined::before {
  content: '\ea19';
}
.category-icon-catalan_course::before {
  content: '\ea1a';
}
.category-icon-chauffeur_driven_transport::before {
  content: '\eac4';
}
.category-icon-chauffeur_driven_transport_outlined::before {
  content: '\eac5';
}
.category-icon-catalan_course_outlined::before {
  content: '\ea1b';
}
.category-icon-child_care::before {
  content: '\ea1c';
}
.category-icon-child_care_outlined::before {
  content: '\ea1d';
}
.category-icon-citizen_housing::before {
  content: '\ea1e';
}
.category-icon-citizen_housing_outlined::before {
  content: '\ea1f';
}
.category-icon-clothing::before {
  content: '\ea20';
}
.category-icon-clothing_outlined::before {
  content: '\ea21';
}
.category-icon-community_garden::before {
  content: '\ea22';
}
.category-icon-community_garden_outlined::before {
  content: '\ea23';
}
.category-icon-computers_at_your_disposal::before {
  content: '\ea24';
}
.category-icon-computers_at_your_disposal_outlined::before {
  content: '\ea25';
}
.category-icon-cooking_workshop::before {
  content: '\ea26';
}
.category-icon-cooking_workshop_outlined::before {
  content: '\ea27';
}
.category-icon-counseling::before {
  content: '\ea28';
}
.category-icon-counseling_outlined::before {
  content: '\ea29';
}
.category-icon-day_hosting::before {
  content: '\ea2a';
}
.category-icon-day_hosting_outlined::before {
  content: '\ea2b';
}
.category-icon-dental_care::before {
  content: '\ea2c';
}
.category-icon-dental_care_outlined::before {
  content: '\ea2d';
}
.category-icon-dermatology::before {
  content: '\ea2e';
}
.category-icon-dermatology_outlined::before {
  content: '\ea2f';
}
.category-icon-digital_safe::before {
  content: '\ea30';
}
.category-icon-digital_safe_outlined::before {
  content: '\ea31';
}
.category-icon-digital_tools_training::before {
  content: '\ea32';
}
.category-icon-digital_tools_training_outlined::before {
  content: '\ea33';
}
.category-icon-disability_advice::before {
  content: '\ea34';
}
.category-icon-disability_advice_outlined::before {
  content: '\ea35';
}
.category-icon-domiciliation::before {
  content: '\ea36';
}
.category-icon-domiciliation_outlined::before {
  content: '\ea37';
}
.category-icon-driving_license::before {
  content: '\ea38';
}
.category-icon-driving_license_outlined::before {
  content: '\ea39';
}
.category-icon-echography::before {
  content: '\ea3a';
}
.category-icon-echography_outlined::before {
  content: '\ea3b';
}
.category-icon-electrical_outlets_available::before {
  content: '\ea3c';
}
.category-icon-electrical_outlets_available_outlined::before {
  content: '\ea3d';
}
.category-icon-emergency_accommodation::before {
  content: '\ea3e';
}
.category-icon-emergency_accommodation_outlined::before {
  content: '\ea3f';
}
.category-icon-endocrinology::before {
  content: '\ea40';
}
.category-icon-endocrinology_outlined::before {
  content: '\ea41';
}
.category-icon-equipment::before {
  content: '\ea42';
}
.category-icon-equipment_outlined::before {
  content: '\ea43';
}
.category-icon-face_masks::before {
  content: '\ea44';
}
.category-icon-face_masks_outlined::before {
  content: '\ea45';
}
.category-icon-family_area::before {
  content: '\ea46';
}
.category-icon-family_area_outlined::before {
  content: '\ea47';
}
.category-icon-food::before {
  content: '\ea48';
}
.category-icon-food_distribution::before {
  content: '\ea49';
}
.category-icon-food_distribution_outlined::before {
  content: '\ea4a';
}
.category-icon-food_outlined::before {
  content: '\ea4b';
}
.category-icon-food_packages::before {
  content: '\ea4c';
}
.category-icon-food_packages_outlined::before {
  content: '\ea4d';
}
.category-icon-food_voucher::before {
  content: '\ea4e';
}
.category-icon-food_voucher_outlined::before {
  content: '\ea4f';
}
.category-icon-fountain::before {
  content: '\ea50';
}
.category-icon-fountain_outlined::before {
  content: '\ea51';
}
.category-icon-french_course::before {
  content: '\ea52';
}
.category-icon-french_course_outlined::before {
  content: '\ea53';
}
.category-icon-gastroenterology::before {
  content: '\ea54';
}
.category-icon-gastroenterology_outlined::before {
  content: '\ea55';
}
.category-icon-general_practitioner::before {
  content: '\ea56';
}
.category-icon-general_practitioner_outlined::before {
  content: '\ea57';
}
.category-icon-gynecology::before {
  content: '\ea58';
}
.category-icon-gynecology_outlined::before {
  content: '\ea59';
}
.category-icon-hairdresser::before {
  content: '\ea5a';
}
.category-icon-hairdresser_outlined::before {
  content: '\ea5b';
}
.category-icon-health::before {
  content: '\ea5c';
}
.category-icon-health_outlined::before {
  content: '\ea5d';
}
.category-icon-health_specialists::before {
  content: '\ea5e';
}
.category-icon-health_specialists_outlined::before {
  content: '\ea5f';
}
.category-icon-hygiene_and_wellness::before {
  content: '\ea60';
}
.category-icon-hygiene_and_wellness_outlined::before {
  content: '\ea61';
}
.category-icon-hygiene_products::before {
  content: '\ea62';
}
.category-icon-hygiene_products_outlined::before {
  content: '\ea63';
}
.category-icon-infirmary::before {
  content: '\ea64';
}
.category-icon-infirmary_outlined::before {
  content: '\ea65';
}
.category-icon-information_point::before {
  content: '\ea66';
}
.category-icon-information_point_outlined::before {
  content: '\ea67';
}
.category-icon-integration_through_economic_activity::before {
  content: '\ea68';
}
.category-icon-integration_through_economic_activity_outlined::before {
  content: '\ea69';
}
.category-icon-job_coaching::before {
  content: '\ea6a';
}
.category-icon-job_coaching_outlined::before {
  content: '\ea6b';
}
.category-icon-kinesitherapy::before {
  content: '\ea6c';
}
.category-icon-kinesitherapy_outlined::before {
  content: '\ea6d';
}
.category-icon-laundry::before {
  content: '\ea6e';
}
.category-icon-laundry_outlined::before {
  content: '\ea6f';
}
.category-icon-legal_advice::before {
  content: '\ea70';
}
.category-icon-legal_advice_outlined::before {
  content: '\ea71';
}
.category-icon-legal_protection::before {
  content: '\ea72';
}
.category-icon-legal_protection_outlined::before {
  content: '\ea73';
}
.category-icon-libraries::before {
  content: '\ea74';
}
.category-icon-libraries_outlined::before {
  content: '\ea75';
}
.category-icon-long_term_accomodation::before {
  content: '\ea76';
}
.category-icon-long_term_accomodation_outlined::before {
  content: '\ea77';
}
.category-icon-luggage_storage::before {
  content: '\ea78';
}
.category-icon-luggage_storage_outlined::before {
  content: '\ea79';
}
.category-icon-mammography::before {
  content: '\ea7a';
}
.category-icon-mammography_outlined::before {
  content: '\ea7b';
}
.category-icon-mobility::before {
  content: '\ea7c';
}
.category-icon-mobility_assistance::before {
  content: '\ea7d';
}
.category-icon-mobility_assistance_outlined::before {
  content: '\ea7e';
}
.category-icon-mobility_financing::before {
  content: '\ea7d';
}
.category-icon-mobility_financing_outlined::before {
  content: '\ea7e';
}
.category-icon-mobility_outlined::before {
  content: '\ea7f';
}
.category-icon-mobility_support::before {
  content: '\ea80';
}
.category-icon-mobility_support_outlined::before {
  content: '\ea81';
}
.category-icon-museums::before {
  content: '\ea82';
}
.category-icon-museums_outlined::before {
  content: '\ea83';
}
.category-icon-nutrition::before {
  content: '\ea84';
}
.category-icon-nutrition_outlined::before {
  content: '\ea85';
}
.category-icon-ophthalmology::before {
  content: '\ea86';
}
.category-icon-ophthalmology_outlined::before {
  content: '\ea87';
}
.category-icon-osteopathy::before {
  content: '\ea88';
}
.category-icon-osteopathy_outlined::before {
  content: '\ea89';
}
.category-icon-other_activities::before {
  content: '\ea8a';
}
.category-icon-other_activities_outlined::before {
  content: '\ea8b';
}
.category-icon-otorhinolaryngology::before {
  content: '\ea8c';
}
.category-icon-otorhinolaryngology_outlined::before {
  content: '\ea8d';
}
.category-icon-overnight_stop::before {
  content: '\ea8e';
}
.category-icon-overnight_stop_outlined::before {
  content: '\ea8f';
}
.category-icon-parent_assistance::before {
  content: '\ea90';
}
.category-icon-parent_assistance_outlined::before {
  content: '\ea91';
}
.category-icon-pedicure::before {
  content: '\ea92';
}
.category-icon-pedicure_outlined::before {
  content: '\ea93';
}
.category-icon-personal_vehicle_access::before {
  content: '\ea94';
}
.category-icon-personal_vehicle_access_outlined::before {
  content: '\ea95';
}
.category-icon-phlebology::before {
  content: '\ea96';
}
.category-icon-phlebology_outlined::before {
  content: '\ea97';
}
.category-icon-pneumology::before {
  content: '\ea98';
}
.category-icon-pneumology_outlined::before {
  content: '\ea99';
}
.category-icon-pregnancy_care::before {
  content: '\ea9a';
}
.category-icon-pregnancy_care_outlined::before {
  content: '\ea9b';
}
.category-icon-provision_of_vehicles::before {
  content: '\ea94';
}
.category-icon-provision_of_vehicles_outlined::before {
  content: '\ea95';
}
.category-icon-psychological_support::before {
  content: '\ea9c';
}
.category-icon-psychological_support_outlined::before {
  content: '\ea9d';
}
.category-icon-public_writer::before {
  content: '\ea9e';
}
.category-icon-public_writer_outlined::before {
  content: '\ea9f';
}
.category-icon-radiology::before {
  content: '\eaa0';
}
.category-icon-radiology_outlined::before {
  content: '\eaa1';
}
.category-icon-rest_area::before {
  content: '\eaa2';
}
.category-icon-rest_area_outlined::before {
  content: '\eaa3';
}
.category-icon-rheumatology::before {
  content: '\eaa4';
}
.category-icon-rheumatology_outlined::before {
  content: '\eaa5';
}
.category-icon-shared_kitchen::before {
  content: '\eaa6';
}
.category-icon-shared_kitchen_outlined::before {
  content: '\eaa7';
}
.category-icon-shower::before {
  content: '\eaa8';
}
.category-icon-shower_outlined::before {
  content: '\eaa9';
}
.category-icon-social_accompaniment::before {
  content: '\eaaa';
}
.category-icon-social_accompaniment_outlined::before {
  content: '\eaab';
}
.category-icon-social_grocery_stores::before {
  content: '\eaac';
}
.category-icon-social_grocery_stores_outlined::before {
  content: '\eaad';
}
.category-icon-solidarity_fridge::before {
  content: '\eaae';
}
.category-icon-solidarity_fridge_outlined::before {
  content: '\eaaf';
}
.category-icon-solidarity_store::before {
  content: '\eab0';
}
.category-icon-solidarity_store_outlined::before {
  content: '\eab1';
}
.category-icon-spanish_course::before {
  content: '\eab2';
}
.category-icon-spanish_course_outlined::before {
  content: '\eab3';
}
.category-icon-speech_therapy::before {
  content: '\eab4';
}
.category-icon-speech_therapy_outlined::before {
  content: '\eab5';
}
.category-icon-sport_activities::before {
  content: '\eab6';
}
.category-icon-sport_activities_outlined::before {
  content: '\eab7';
}
.category-icon-std_testing::before {
  content: '\eab8';
}
.category-icon-std_testing_outlined::before {
  content: '\eab9';
}
.category-icon-stomatology::before {
  content: '\eaba';
}
.category-icon-stomatology_outlined::before {
  content: '\eabb';
}
.category-icon-technology::before {
  content: '\eabc';
}
.category-icon-technology_outlined::before {
  content: '\eabd';
}
.category-icon-telephone_at_your_disposal::before {
  content: '\eabe';
}
.category-icon-telephone_at_your_disposal_outlined::before {
  content: '\eabf';
}
.category-icon-toilets::before {
  content: '\eac0';
}
.category-icon-toilets_outlined::before {
  content: '\eac1';
}
.category-icon-training_and_jobs::before {
  content: '\eac2';
}
.category-icon-training_and_jobs_outlined::before {
  content: '\eac3';
}
.category-icon-transportation_mobility::before {
  content: '\eac4';
}
.category-icon-transportation_mobility_outlined::before {
  content: '\eac5';
}
.category-icon-tutoring::before {
  content: '\eac6';
}
.category-icon-tutoring_outlined::before {
  content: '\eac7';
}
.category-icon-urology::before {
  content: '\eac8';
}
.category-icon-urology_outlined::before {
  content: '\eac9';
}
.category-icon-vaccination::before {
  content: '\eaca';
}
.category-icon-vaccination_outlined::before {
  content: '\eacb';
}
.category-icon-vehicle_maintenance::before {
  content: '\eacc';
}
.category-icon-vehicle_maintenance_outlined::before {
  content: '\eacd';
}
.category-icon-vet_care::before {
  content: '\eace';
}
.category-icon-vet_care_outlined::before {
  content: '\eacf';
}
.category-icon-welcome::before {
  content: '\ead0';
}
.category-icon-welcome_outlined::before {
  content: '\ead1';
}
.category-icon-wellness::before {
  content: '\ead2';
}
.category-icon-wellness_outlined::before {
  content: '\ead3';
}
.category-icon-wifi::before {
  content: '\ead4';
}
.category-icon-wifi_outlined::before {
  content: '\ead5';
}

$category-icon-access_to_housing: '\ea01';
$category-icon-access_to_housing_outlined: '\ea02';
$category-icon-accomodation_and_housing: '\ea03';
$category-icon-accomodation_and_housing_outlined: '\ea04';
$category-icon-activities: '\ea05';
$category-icon-activities_outlined: '\ea06';
$category-icon-acupuncture: '\ea07';
$category-icon-acupuncture_outlined: '\ea08';
$category-icon-addiction: '\ea09';
$category-icon-addiction_outlined: '\ea0a';
$category-icon-administrative_assistance: '\ea0b';
$category-icon-administrative_assistance_outlined: '\ea0c';
$category-icon-allergology: '\ea0d';
$category-icon-allergology_outlined: '\ea0e';
$category-icon-animal_assitance: '\ea0f';
$category-icon-animal_assitance_outlined: '\ea10';
$category-icon-baby_parcel: '\ea11';
$category-icon-baby_parcel_outlined: '\ea12';
$category-icon-babysitting: '\ea13';
$category-icon-babysitting_outlined: '\ea14';
$category-icon-budget_advice: '\ea15';
$category-icon-budget_advice_outlined: '\ea16';
$category-icon-cardiology: '\ea17';
$category-icon-cardiology_outlined: '\ea18';
$category-icon-carpooling_outlined: '\ea19';
$category-icon-catalan_course: '\ea1a';
$category-icon-catalan_course_outlined: '\ea1b';
$category-icon-child_care: '\ea1c';
$category-icon-child_care_outlined: '\ea1d';
$category-icon-citizen_housing: '\ea1e';
$category-icon-citizen_housing_outlined: '\ea1f';
$category-icon-clothing: '\ea20';
$category-icon-clothing_outlined: '\ea21';
$category-icon-community_garden: '\ea22';
$category-icon-community_garden_outlined: '\ea23';
$category-icon-computers_at_your_disposal: '\ea24';
$category-icon-computers_at_your_disposal_outlined: '\ea25';
$category-icon-cooking_workshop: '\ea26';
$category-icon-cooking_workshop_outlined: '\ea27';
$category-icon-counseling: '\ea28';
$category-icon-counseling_outlined: '\ea29';
$category-icon-day_hosting: '\ea2a';
$category-icon-day_hosting_outlined: '\ea2b';
$category-icon-dental_care: '\ea2c';
$category-icon-dental_care_outlined: '\ea2d';
$category-icon-dermatology: '\ea2e';
$category-icon-dermatology_outlined: '\ea2f';
$category-icon-digital_safe: '\ea30';
$category-icon-digital_safe_outlined: '\ea31';
$category-icon-digital_tools_training: '\ea32';
$category-icon-digital_tools_training_outlined: '\ea33';
$category-icon-disability_advice: '\ea34';
$category-icon-disability_advice_outlined: '\ea35';
$category-icon-domiciliation: '\ea36';
$category-icon-domiciliation_outlined: '\ea37';
$category-icon-driving_license: '\ea38';
$category-icon-driving_license_outlined: '\ea39';
$category-icon-echography: '\ea3a';
$category-icon-echography_outlined: '\ea3b';
$category-icon-electrical_outlets_available: '\ea3c';
$category-icon-electrical_outlets_available_outlined: '\ea3d';
$category-icon-emergency_accommodation: '\ea3e';
$category-icon-emergency_accommodation_outlined: '\ea3f';
$category-icon-endocrinology: '\ea40';
$category-icon-endocrinology_outlined: '\ea41';
$category-icon-equipment: '\ea42';
$category-icon-equipment_outlined: '\ea43';
$category-icon-face_masks: '\ea44';
$category-icon-face_masks_outlined: '\ea45';
$category-icon-family_area: '\ea46';
$category-icon-family_area_outlined: '\ea47';
$category-icon-food: '\ea48';
$category-icon-food_distribution: '\ea49';
$category-icon-food_distribution_outlined: '\ea4a';
$category-icon-food_outlined: '\ea4b';
$category-icon-food_packages: '\ea4c';
$category-icon-food_packages_outlined: '\ea4d';
$category-icon-food_voucher: '\ea4e';
$category-icon-food_voucher_outlined: '\ea4f';
$category-icon-fountain: '\ea50';
$category-icon-fountain_outlined: '\ea51';
$category-icon-french_course: '\ea52';
$category-icon-french_course_outlined: '\ea53';
$category-icon-gastroenterology: '\ea54';
$category-icon-gastroenterology_outlined: '\ea55';
$category-icon-general_practitioner: '\ea56';
$category-icon-general_practitioner_outlined: '\ea57';
$category-icon-gynecology: '\ea58';
$category-icon-gynecology_outlined: '\ea59';
$category-icon-hairdresser: '\ea5a';
$category-icon-hairdresser_outlined: '\ea5b';
$category-icon-health: '\ea5c';
$category-icon-health_outlined: '\ea5d';
$category-icon-health_specialists: '\ea5e';
$category-icon-health_specialists_outlined: '\ea5f';
$category-icon-hygiene_and_wellness: '\ea60';
$category-icon-hygiene_and_wellness_outlined: '\ea61';
$category-icon-hygiene_products: '\ea62';
$category-icon-hygiene_products_outlined: '\ea63';
$category-icon-infirmary: '\ea64';
$category-icon-infirmary_outlined: '\ea65';
$category-icon-information_point: '\ea66';
$category-icon-information_point_outlined: '\ea67';
$category-icon-integration_through_economic_activity: '\ea68';
$category-icon-integration_through_economic_activity_outlined: '\ea69';
$category-icon-job_coaching: '\ea6a';
$category-icon-job_coaching_outlined: '\ea6b';
$category-icon-kinesitherapy: '\ea6c';
$category-icon-kinesitherapy_outlined: '\ea6d';
$category-icon-laundry: '\ea6e';
$category-icon-laundry_outlined: '\ea6f';
$category-icon-legal_advice: '\ea70';
$category-icon-legal_advice_outlined: '\ea71';
$category-icon-legal_protection: '\ea72';
$category-icon-legal_protection_outlined: '\ea73';
$category-icon-libraries: '\ea74';
$category-icon-libraries_outlined: '\ea75';
$category-icon-long_term_accomodation: '\ea76';
$category-icon-long_term_accomodation_outlined: '\ea77';
$category-icon-luggage_storage: '\ea78';
$category-icon-luggage_storage_outlined: '\ea79';
$category-icon-mammography: '\ea7a';
$category-icon-mammography_outlined: '\ea7b';
$category-icon-mobility: '\ea7c';
$category-icon-mobility_financing: '\ea7d';
$category-icon-mobility_financing_outlined: '\ea7e';
$category-icon-mobility_outlined: '\ea7f';
$category-icon-mobility_support: '\ea80';
$category-icon-mobility_support_outlined: '\ea81';
$category-icon-museums: '\ea82';
$category-icon-museums_outlined: '\ea83';
$category-icon-nutrition: '\ea84';
$category-icon-nutrition_outlined: '\ea85';
$category-icon-ophthalmology: '\ea86';
$category-icon-ophthalmology_outlined: '\ea87';
$category-icon-osteopathy: '\ea88';
$category-icon-osteopathy_outlined: '\ea89';
$category-icon-other_activities: '\ea8a';
$category-icon-other_activities_outlined: '\ea8b';
$category-icon-otorhinolaryngology: '\ea8c';
$category-icon-otorhinolaryngology_outlined: '\ea8d';
$category-icon-overnight_stop: '\ea8e';
$category-icon-overnight_stop_outlined: '\ea8f';
$category-icon-parent_assistance: '\ea90';
$category-icon-parent_assistance_outlined: '\ea91';
$category-icon-pedicure: '\ea92';
$category-icon-pedicure_outlined: '\ea93';
$category-icon-personal_vehicle_access: '\ea94';
$category-icon-personal_vehicle_access_outlined: '\ea95';
$category-icon-phlebology: '\ea96';
$category-icon-phlebology_outlined: '\ea97';
$category-icon-pneumology: '\ea98';
$category-icon-pneumology_outlined: '\ea99';
$category-icon-pregnancy_care: '\ea9a';
$category-icon-pregnancy_care_outlined: '\ea9b';
$category-icon-psychological_support: '\ea9c';
$category-icon-psychological_support_outlined: '\ea9d';
$category-icon-public_writer: '\ea9e';
$category-icon-public_writer_outlined: '\ea9f';
$category-icon-radiology: '\eaa0';
$category-icon-radiology_outlined: '\eaa1';
$category-icon-rest_area: '\eaa2';
$category-icon-rest_area_outlined: '\eaa3';
$category-icon-rheumatology: '\eaa4';
$category-icon-rheumatology_outlined: '\eaa5';
$category-icon-shared_kitchen: '\eaa6';
$category-icon-shared_kitchen_outlined: '\eaa7';
$category-icon-shower: '\eaa8';
$category-icon-shower_outlined: '\eaa9';
$category-icon-social_accompaniment: '\eaaa';
$category-icon-social_accompaniment_outlined: '\eaab';
$category-icon-social_grocery_stores: '\eaac';
$category-icon-social_grocery_stores_outlined: '\eaad';
$category-icon-solidarity_fridge: '\eaae';
$category-icon-solidarity_fridge_outlined: '\eaaf';
$category-icon-solidarity_store: '\eab0';
$category-icon-solidarity_store_outlined: '\eab1';
$category-icon-spanish_course: '\eab2';
$category-icon-spanish_course_outlined: '\eab3';
$category-icon-speech_therapy: '\eab4';
$category-icon-speech_therapy_outlined: '\eab5';
$category-icon-sport_activities: '\eab6';
$category-icon-sport_activities_outlined: '\eab7';
$category-icon-std_testing: '\eab8';
$category-icon-std_testing_outlined: '\eab9';
$category-icon-stomatology: '\eaba';
$category-icon-stomatology_outlined: '\eabb';
$category-icon-technology: '\eabc';
$category-icon-technology_outlined: '\eabd';
$category-icon-telephone_at_your_disposal: '\eabe';
$category-icon-telephone_at_your_disposal_outlined: '\eabf';
$category-icon-toilets: '\eac0';
$category-icon-toilets_outlined: '\eac1';
$category-icon-training_and_jobs: '\eac2';
$category-icon-training_and_jobs_outlined: '\eac3';
$category-icon-transportation_mobility: '\eac4';
$category-icon-transportation_mobility_outlined: '\eac5';
$category-icon-tutoring: '\eac6';
$category-icon-tutoring_outlined: '\eac7';
$category-icon-urology: '\eac8';
$category-icon-urology_outlined: '\eac9';
$category-icon-vaccination: '\eaca';
$category-icon-vaccination_outlined: '\eacb';
$category-icon-vehicle_maintenance: '\eacc';
$category-icon-vehicle_maintenance_outlined: '\eacd';
$category-icon-vet_care: '\eace';
$category-icon-vet_care_outlined: '\eacf';
$category-icon-welcome: '\ead0';
$category-icon-welcome_outlined: '\ead1';
$category-icon-wellness: '\ead2';
$category-icon-wellness_outlined: '\ead3';
$category-icon-wifi: '\ead4';
$category-icon-wifi_outlined: '\ead5';
