@font-face {
  font-family: 'categories-icons';
  src:
    url('../fonts/icons/categories-icons.woff2?t=1783435132091') format('woff2'),
    url('../fonts/icons/categories-icons.woff?t=1783435132091') format('woff');
}

[class^='category-icon-'],
[class*=' category-icon-'] {
  font-family: 'categories-icons' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.category-icon-abortion::before {
  content: '\ea01';
}
.category-icon-abortion_outlined::before {
  content: '\ea02';
}
.category-icon-access_to_housing::before {
  content: '\ea03';
}
.category-icon-access_to_housing_outlined::before {
  content: '\ea04';
}
.category-icon-accomodation_and_housing::before {
  content: '\ea05';
}
.category-icon-accomodation_and_housing_outlined::before {
  content: '\ea06';
}
.category-icon-activities::before {
  content: '\ea07';
}
.category-icon-activities_outlined::before {
  content: '\ea08';
}
.category-icon-acupuncture::before {
  content: '\ea09';
}
.category-icon-acupuncture_outlined::before {
  content: '\ea0a';
}
.category-icon-addiction::before {
  content: '\ea0b';
}
.category-icon-addiction_care::before {
  content: '\ea0c';
}
.category-icon-addiction_care_outlined::before {
  content: '\ea0d';
}
.category-icon-addiction_outlined::before {
  content: '\ea0e';
}
.category-icon-addiction_prevention_and_material::before {
  content: '\ea0f';
}
.category-icon-addiction_prevention_and_material_outlined::before {
  content: '\ea10';
}
.category-icon-addictions::before {
  content: '\ea11';
}
.category-icon-addictions_outlined::before {
  content: '\ea12';
}
.category-icon-administrative_assistance::before {
  content: '\ea13';
}
.category-icon-administrative_assistance_outlined::before {
  content: '\ea14';
}
.category-icon-affective_life::before {
  content: '\ea15';
}
.category-icon-affective_life_outlined::before {
  content: '\ea16';
}
.category-icon-allergology::before {
  content: '\ea17';
}
.category-icon-allergology_outlined::before {
  content: '\ea18';
}
.category-icon-animal_assitance::before {
  content: '\ea19';
}
.category-icon-animal_assitance_outlined::before {
  content: '\ea1a';
}
.category-icon-baby_parcel::before {
  content: '\ea1b';
}
.category-icon-baby_parcel_outlined::before {
  content: '\ea1c';
}
.category-icon-babysitting::before {
  content: '\ea1d';
}
.category-icon-babysitting_outlined::before {
  content: '\ea1e';
}
.category-icon-budget_advice::before {
  content: '\ea1f';
}
.category-icon-budget_advice_outlined::before {
  content: '\ea20';
}
.category-icon-cardiology::before {
  content: '\ea21';
}
.category-icon-cardiology_outlined::before {
  content: '\ea22';
}
.category-icon-carpooling::before {
  content: '\ea23';
}
.category-icon-carpooling_outlined::before {
  content: '\ea24';
}
.category-icon-catalan_course::before {
  content: '\ea25';
}
.category-icon-catalan_course_outlined::before {
  content: '\ea26';
}
.category-icon-child_care::before {
  content: '\ea27';
}
.category-icon-child_care_outlined::before {
  content: '\ea28';
}
.category-icon-chronic_diseases::before {
  content: '\ea29';
}
.category-icon-chronic_diseases_outlined::before {
  content: '\ea2a';
}
.category-icon-citizen_housing::before {
  content: '\ea2b';
}
.category-icon-citizen_housing_outlined::before {
  content: '\ea2c';
}
.category-icon-climate_refuge::before {
  content: '\ea2d';
}
.category-icon-climate_refuge_outlined::before {
  content: '\ea2e';
}
.category-icon-clothing::before {
  content: '\ea2f';
}
.category-icon-clothing_outlined::before {
  content: '\ea30';
}
.category-icon-community_garden::before {
  content: '\ea31';
}
.category-icon-community_garden_outlined::before {
  content: '\ea32';
}
.category-icon-computers_at_your_disposal::before {
  content: '\ea33';
}
.category-icon-computers_at_your_disposal_outlined::before {
  content: '\ea34';
}
.category-icon-contraception::before {
  content: '\ea35';
}
.category-icon-contraception_outlined::before {
  content: '\ea36';
}
.category-icon-cooking_workshop::before {
  content: '\ea37';
}
.category-icon-cooking_workshop_outlined::before {
  content: '\ea38';
}
.category-icon-cooling_space::before {
  content: '\ea39';
}
.category-icon-cooling_space_outlined::before {
  content: '\ea3a';
}
.category-icon-counseling::before {
  content: '\ea3b';
}
.category-icon-counseling_outlined::before {
  content: '\ea3c';
}
.category-icon-day_hosting::before {
  content: '\ea3d';
}
.category-icon-day_hosting_outlined::before {
  content: '\ea3e';
}
.category-icon-dental_care::before {
  content: '\ea3f';
}
.category-icon-dental_care_outlined::before {
  content: '\ea40';
}
.category-icon-dermatology::before {
  content: '\ea41';
}
.category-icon-dermatology_outlined::before {
  content: '\ea42';
}
.category-icon-digital_safe::before {
  content: '\ea43';
}
.category-icon-digital_safe_outlined::before {
  content: '\ea44';
}
.category-icon-digital_tools_training::before {
  content: '\ea45';
}
.category-icon-digital_tools_training_outlined::before {
  content: '\ea46';
}
.category-icon-disability_advice::before {
  content: '\ea47';
}
.category-icon-disability_advice_outlined::before {
  content: '\ea48';
}
.category-icon-domiciliation::before {
  content: '\ea49';
}
.category-icon-domiciliation_outlined::before {
  content: '\ea4a';
}
.category-icon-driving_license::before {
  content: '\ea4b';
}
.category-icon-driving_license_outlined::before {
  content: '\ea4c';
}
.category-icon-echography::before {
  content: '\ea4d';
}
.category-icon-echography_outlined::before {
  content: '\ea4e';
}
.category-icon-electrical_outlets_available::before {
  content: '\ea4f';
}
.category-icon-electrical_outlets_available_outlined::before {
  content: '\ea50';
}
.category-icon-emergency_accommodation::before {
  content: '\ea51';
}
.category-icon-emergency_accommodation_outlined::before {
  content: '\ea52';
}
.category-icon-emergency_contraception::before {
  content: '\ea53';
}
.category-icon-emergency_contraception_outlined::before {
  content: '\ea54';
}
.category-icon-endocrinology::before {
  content: '\ea55';
}
.category-icon-endocrinology_outlined::before {
  content: '\ea56';
}
.category-icon-equipment::before {
  content: '\ea57';
}
.category-icon-equipment_outlined::before {
  content: '\ea58';
}
.category-icon-face_masks::before {
  content: '\ea59';
}
.category-icon-face_masks_outlined::before {
  content: '\ea5a';
}
.category-icon-family_area::before {
  content: '\ea5b';
}
.category-icon-family_area_outlined::before {
  content: '\ea5c';
}
.category-icon-find_healthcare::before {
  content: '\ea5d';
}
.category-icon-find_healthcare_outlined::before {
  content: '\ea5e';
}
.category-icon-food::before {
  content: '\ea5f';
}
.category-icon-food_distribution::before {
  content: '\ea60';
}
.category-icon-food_distribution_outlined::before {
  content: '\ea61';
}
.category-icon-food_outlined::before {
  content: '\ea62';
}
.category-icon-food_packages::before {
  content: '\ea63';
}
.category-icon-food_packages_outlined::before {
  content: '\ea64';
}
.category-icon-food_voucher::before {
  content: '\ea65';
}
.category-icon-food_voucher_outlined::before {
  content: '\ea66';
}
.category-icon-fountain::before {
  content: '\ea67';
}
.category-icon-fountain_outlined::before {
  content: '\ea68';
}
.category-icon-french_course::before {
  content: '\ea69';
}
.category-icon-french_course_outlined::before {
  content: '\ea6a';
}
.category-icon-gastroenterology::before {
  content: '\ea6b';
}
.category-icon-gastroenterology_outlined::before {
  content: '\ea6c';
}
.category-icon-general_practitioner::before {
  content: '\ea6d';
}
.category-icon-general_practitioner_outlined::before {
  content: '\ea6e';
}
.category-icon-gynecology::before {
  content: '\ea6f';
}
.category-icon-gynecology_outlined::before {
  content: '\ea70';
}
.category-icon-hairdresser::before {
  content: '\ea71';
}
.category-icon-hairdresser_outlined::before {
  content: '\ea72';
}
.category-icon-health::before {
  content: '\ea73';
}
.category-icon-health_access::before {
  content: '\ea74';
}
.category-icon-health_access_outlined::before {
  content: '\ea75';
}
.category-icon-health_assessment::before {
  content: '\ea76';
}
.category-icon-health_assessment_outlined::before {
  content: '\ea77';
}
.category-icon-health_coverage::before {
  content: '\ea78';
}
.category-icon-health_coverage_outlined::before {
  content: '\ea79';
}
.category-icon-health_outlined::before {
  content: '\ea7a';
}
.category-icon-health_specialists::before {
  content: '\ea7b';
}
.category-icon-health_specialists_outlined::before {
  content: '\ea7c';
}
.category-icon-hearing_care::before {
  content: '\ea7d';
}
.category-icon-hearing_care_outlined::before {
  content: '\ea7e';
}
.category-icon-hiv_prevention::before {
  content: '\ea7f';
}
.category-icon-hiv_prevention_outlined::before {
  content: '\ea80';
}
.category-icon-hygiene_and_wellness::before {
  content: '\ea81';
}
.category-icon-hygiene_and_wellness_outlined::before {
  content: '\ea82';
}
.category-icon-hygiene_products::before {
  content: '\ea83';
}
.category-icon-hygiene_products_outlined::before {
  content: '\ea84';
}
.category-icon-infirmary::before {
  content: '\ea85';
}
.category-icon-infirmary_outlined::before {
  content: '\ea86';
}
.category-icon-information_point::before {
  content: '\ea87';
}
.category-icon-information_point_outlined::before {
  content: '\ea88';
}
.category-icon-integration_through_economic_activity::before {
  content: '\ea89';
}
.category-icon-integration_through_economic_activity_outlined::before {
  content: '\ea8a';
}
.category-icon-job_coaching::before {
  content: '\ea8b';
}
.category-icon-job_coaching_outlined::before {
  content: '\ea8c';
}
.category-icon-kinesitherapy::before {
  content: '\ea8d';
}
.category-icon-kinesitherapy_outlined::before {
  content: '\ea8e';
}
.category-icon-laundry::before {
  content: '\ea8f';
}
.category-icon-laundry_outlined::before {
  content: '\ea90';
}
.category-icon-legal_advice::before {
  content: '\ea91';
}
.category-icon-legal_advice_outlined::before {
  content: '\ea92';
}
.category-icon-legal_protection::before {
  content: '\ea93';
}
.category-icon-legal_protection_outlined::before {
  content: '\ea94';
}
.category-icon-libraries::before {
  content: '\ea95';
}
.category-icon-libraries_outlined::before {
  content: '\ea96';
}
.category-icon-long_term_accomodation::before {
  content: '\ea97';
}
.category-icon-long_term_accomodation_outlined::before {
  content: '\ea98';
}
.category-icon-luggage_storage::before {
  content: '\ea99';
}
.category-icon-luggage_storage_outlined::before {
  content: '\ea9a';
}
.category-icon-mammography::before {
  content: '\ea9b';
}
.category-icon-mammography_outlined::before {
  content: '\ea9c';
}
.category-icon-medical_accommodation::before {
  content: '\ea9d';
}
.category-icon-medical_accommodation_outlined::before {
  content: '\ea9e';
}
.category-icon-mental_health::before {
  content: '\ea9f';
}
.category-icon-mental_health_education::before {
  content: '\eaa0';
}
.category-icon-mental_health_education_outlined::before {
  content: '\eaa1';
}
.category-icon-mental_health_outlined::before {
  content: '\eaa2';
}
.category-icon-mobility::before {
  content: '\eaa3';
}
.category-icon-mobility_financing::before {
  content: '\eaa4';
}
.category-icon-mobility_financing_outlined::before {
  content: '\eaa5';
}
.category-icon-mobility_outlined::before {
  content: '\eaa6';
}
.category-icon-mobility_support::before {
  content: '\eaa7';
}
.category-icon-mobility_support_outlined::before {
  content: '\eaa8';
}
.category-icon-museums::before {
  content: '\eaa9';
}
.category-icon-museums_outlined::before {
  content: '\eaaa';
}
.category-icon-neurology::before {
  content: '\eaab';
}
.category-icon-neurology_outlined::before {
  content: '\eaac';
}
.category-icon-nutrition::before {
  content: '\eaad';
}
.category-icon-nutrition_outlined::before {
  content: '\eaae';
}
.category-icon-ophthalmology::before {
  content: '\eaaf';
}
.category-icon-ophthalmology_outlined::before {
  content: '\eab0';
}
.category-icon-optical_care::before {
  content: '\eab1';
}
.category-icon-optical_care_outlined::before {
  content: '\eab2';
}
.category-icon-osteopathy::before {
  content: '\eab3';
}
.category-icon-osteopathy_outlined::before {
  content: '\eab4';
}
.category-icon-other_activities::before {
  content: '\eab5';
}
.category-icon-other_activities_outlined::before {
  content: '\eab6';
}
.category-icon-otorhinolaryngology::before {
  content: '\eab7';
}
.category-icon-otorhinolaryngology_outlined::before {
  content: '\eab8';
}
.category-icon-overnight_stop::before {
  content: '\eab9';
}
.category-icon-overnight_stop_outlined::before {
  content: '\eaba';
}
.category-icon-parent_assistance::before {
  content: '\eabb';
}
.category-icon-parent_assistance_outlined::before {
  content: '\eabc';
}
.category-icon-parenthood::before {
  content: '\eabd';
}
.category-icon-parenthood_outlined::before {
  content: '\eabe';
}
.category-icon-pedicure::before {
  content: '\eabf';
}
.category-icon-pedicure_outlined::before {
  content: '\eac0';
}
.category-icon-personal_vehicle_access::before {
  content: '\eac1';
}
.category-icon-personal_vehicle_access_outlined::before {
  content: '\eac2';
}
.category-icon-phlebology::before {
  content: '\eac3';
}
.category-icon-phlebology_outlined::before {
  content: '\eac4';
}
.category-icon-physical_health::before {
  content: '\eac5';
}
.category-icon-physical_health_outlined::before {
  content: '\eac6';
}
.category-icon-pneumology::before {
  content: '\eac7';
}
.category-icon-pneumology_outlined::before {
  content: '\eac8';
}
.category-icon-pregnancy_care::before {
  content: '\eac9';
}
.category-icon-pregnancy_care_outlined::before {
  content: '\eaca';
}
.category-icon-psychiatry::before {
  content: '\eacb';
}
.category-icon-psychiatry_outlined::before {
  content: '\eacc';
}
.category-icon-psychological_support::before {
  content: '\eacd';
}
.category-icon-psychological_support_outlined::before {
  content: '\eace';
}
.category-icon-public_writer::before {
  content: '\eacf';
}
.category-icon-public_writer_outlined::before {
  content: '\ead0';
}
.category-icon-radiology::before {
  content: '\ead1';
}
.category-icon-radiology_outlined::before {
  content: '\ead2';
}
.category-icon-regularization::before {
  content: '\ead3';
}
.category-icon-regularization_outlined::before {
  content: '\ead4';
}
.category-icon-rest_area::before {
  content: '\ead5';
}
.category-icon-rest_area_outlined::before {
  content: '\ead6';
}
.category-icon-rheumatology::before {
  content: '\ead7';
}
.category-icon-rheumatology_outlined::before {
  content: '\ead8';
}
.category-icon-sexual_health::before {
  content: '\ead9';
}
.category-icon-sexual_health_education::before {
  content: '\eada';
}
.category-icon-sexual_health_education_outlined::before {
  content: '\eadb';
}
.category-icon-sexual_health_outlined::before {
  content: '\eadc';
}
.category-icon-sexual_health_vaccination::before {
  content: '\eadd';
}
.category-icon-sexual_health_vaccination_outlined::before {
  content: '\eade';
}
.category-icon-sexual_violence_support::before {
  content: '\eadf';
}
.category-icon-sexual_violence_support_outlined::before {
  content: '\eae0';
}
.category-icon-shared_kitchen::before {
  content: '\eae1';
}
.category-icon-shared_kitchen_outlined::before {
  content: '\eae2';
}
.category-icon-shower::before {
  content: '\eae3';
}
.category-icon-shower_outlined::before {
  content: '\eae4';
}
.category-icon-social_accompaniment::before {
  content: '\eae5';
}
.category-icon-social_accompaniment_outlined::before {
  content: '\eae6';
}
.category-icon-social_grocery_stores::before {
  content: '\eae7';
}
.category-icon-social_grocery_stores_outlined::before {
  content: '\eae8';
}
.category-icon-solidarity_fridge::before {
  content: '\eae9';
}
.category-icon-solidarity_fridge_outlined::before {
  content: '\eaea';
}
.category-icon-solidarity_store::before {
  content: '\eaeb';
}
.category-icon-solidarity_store_outlined::before {
  content: '\eaec';
}
.category-icon-spanish_course::before {
  content: '\eaed';
}
.category-icon-spanish_course_outlined::before {
  content: '\eaee';
}
.category-icon-speech_therapy::before {
  content: '\eaef';
}
.category-icon-speech_therapy_outlined::before {
  content: '\eaf0';
}
.category-icon-sport_activities::before {
  content: '\eaf1';
}
.category-icon-sport_activities_outlined::before {
  content: '\eaf2';
}
.category-icon-std_testing::before {
  content: '\eaf3';
}
.category-icon-std_testing_outlined::before {
  content: '\eaf4';
}
.category-icon-sti_prevention_testing::before {
  content: '\eaf5';
}
.category-icon-sti_prevention_testing_outlined::before {
  content: '\eaf6';
}
.category-icon-stomatology::before {
  content: '\eaf7';
}
.category-icon-stomatology_outlined::before {
  content: '\eaf8';
}
.category-icon-support_groups::before {
  content: '\eaf9';
}
.category-icon-support_groups_outlined::before {
  content: '\eafa';
}
.category-icon-technology::before {
  content: '\eafb';
}
.category-icon-technology_outlined::before {
  content: '\eafc';
}
.category-icon-telephone_at_your_disposal::before {
  content: '\eafd';
}
.category-icon-telephone_at_your_disposal_outlined::before {
  content: '\eafe';
}
.category-icon-therapeutic_activities::before {
  content: '\eaff';
}
.category-icon-therapeutic_activities_outlined::before {
  content: '\eb00';
}
.category-icon-toilets::before {
  content: '\eb01';
}
.category-icon-toilets_outlined::before {
  content: '\eb02';
}
.category-icon-training_and_jobs::before {
  content: '\eb03';
}
.category-icon-training_and_jobs_outlined::before {
  content: '\eb04';
}
.category-icon-transportation_mobility::before {
  content: '\eb05';
}
.category-icon-transportation_mobility_outlined::before {
  content: '\eb06';
}
.category-icon-tutoring::before {
  content: '\eb07';
}
.category-icon-tutoring_outlined::before {
  content: '\eb08';
}
.category-icon-urology::before {
  content: '\eb09';
}
.category-icon-urology_outlined::before {
  content: '\eb0a';
}
.category-icon-vaccination::before {
  content: '\eb0b';
}
.category-icon-vaccination_outlined::before {
  content: '\eb0c';
}
.category-icon-vascular_surgery::before {
  content: '\eb0d';
}
.category-icon-vascular_surgery_outlined::before {
  content: '\eb0e';
}
.category-icon-vehicle_maintenance::before {
  content: '\eb0f';
}
.category-icon-vehicle_maintenance_outlined::before {
  content: '\eb10';
}
.category-icon-vet_care::before {
  content: '\eb11';
}
.category-icon-vet_care_outlined::before {
  content: '\eb12';
}
.category-icon-welcome::before {
  content: '\eb13';
}
.category-icon-welcome_outlined::before {
  content: '\eb14';
}
.category-icon-wellness::before {
  content: '\eb15';
}
.category-icon-wellness_outlined::before {
  content: '\eb16';
}
.category-icon-wifi::before {
  content: '\eb17';
}
.category-icon-wifi_outlined::before {
  content: '\eb18';
}

$category-icon-abortion: '\ea01';
$category-icon-abortion_outlined: '\ea02';
$category-icon-access_to_housing: '\ea03';
$category-icon-access_to_housing_outlined: '\ea04';
$category-icon-accomodation_and_housing: '\ea05';
$category-icon-accomodation_and_housing_outlined: '\ea06';
$category-icon-activities: '\ea07';
$category-icon-activities_outlined: '\ea08';
$category-icon-acupuncture: '\ea09';
$category-icon-acupuncture_outlined: '\ea0a';
$category-icon-addiction: '\ea0b';
$category-icon-addiction_care: '\ea0c';
$category-icon-addiction_care_outlined: '\ea0d';
$category-icon-addiction_outlined: '\ea0e';
$category-icon-addiction_prevention_and_material: '\ea0f';
$category-icon-addiction_prevention_and_material_outlined: '\ea10';
$category-icon-addictions: '\ea11';
$category-icon-addictions_outlined: '\ea12';
$category-icon-administrative_assistance: '\ea13';
$category-icon-administrative_assistance_outlined: '\ea14';
$category-icon-affective_life: '\ea15';
$category-icon-affective_life_outlined: '\ea16';
$category-icon-allergology: '\ea17';
$category-icon-allergology_outlined: '\ea18';
$category-icon-animal_assitance: '\ea19';
$category-icon-animal_assitance_outlined: '\ea1a';
$category-icon-baby_parcel: '\ea1b';
$category-icon-baby_parcel_outlined: '\ea1c';
$category-icon-babysitting: '\ea1d';
$category-icon-babysitting_outlined: '\ea1e';
$category-icon-budget_advice: '\ea1f';
$category-icon-budget_advice_outlined: '\ea20';
$category-icon-cardiology: '\ea21';
$category-icon-cardiology_outlined: '\ea22';
$category-icon-carpooling: '\ea23';
$category-icon-carpooling_outlined: '\ea24';
$category-icon-catalan_course: '\ea25';
$category-icon-catalan_course_outlined: '\ea26';
$category-icon-child_care: '\ea27';
$category-icon-child_care_outlined: '\ea28';
$category-icon-chronic_diseases: '\ea29';
$category-icon-chronic_diseases_outlined: '\ea2a';
$category-icon-citizen_housing: '\ea2b';
$category-icon-citizen_housing_outlined: '\ea2c';
$category-icon-climate_refuge: '\ea2d';
$category-icon-climate_refuge_outlined: '\ea2e';
$category-icon-clothing: '\ea2f';
$category-icon-clothing_outlined: '\ea30';
$category-icon-community_garden: '\ea31';
$category-icon-community_garden_outlined: '\ea32';
$category-icon-computers_at_your_disposal: '\ea33';
$category-icon-computers_at_your_disposal_outlined: '\ea34';
$category-icon-contraception: '\ea35';
$category-icon-contraception_outlined: '\ea36';
$category-icon-cooking_workshop: '\ea37';
$category-icon-cooking_workshop_outlined: '\ea38';
$category-icon-cooling_space: '\ea39';
$category-icon-cooling_space_outlined: '\ea3a';
$category-icon-counseling: '\ea3b';
$category-icon-counseling_outlined: '\ea3c';
$category-icon-day_hosting: '\ea3d';
$category-icon-day_hosting_outlined: '\ea3e';
$category-icon-dental_care: '\ea3f';
$category-icon-dental_care_outlined: '\ea40';
$category-icon-dermatology: '\ea41';
$category-icon-dermatology_outlined: '\ea42';
$category-icon-digital_safe: '\ea43';
$category-icon-digital_safe_outlined: '\ea44';
$category-icon-digital_tools_training: '\ea45';
$category-icon-digital_tools_training_outlined: '\ea46';
$category-icon-disability_advice: '\ea47';
$category-icon-disability_advice_outlined: '\ea48';
$category-icon-domiciliation: '\ea49';
$category-icon-domiciliation_outlined: '\ea4a';
$category-icon-driving_license: '\ea4b';
$category-icon-driving_license_outlined: '\ea4c';
$category-icon-echography: '\ea4d';
$category-icon-echography_outlined: '\ea4e';
$category-icon-electrical_outlets_available: '\ea4f';
$category-icon-electrical_outlets_available_outlined: '\ea50';
$category-icon-emergency_accommodation: '\ea51';
$category-icon-emergency_accommodation_outlined: '\ea52';
$category-icon-emergency_contraception: '\ea53';
$category-icon-emergency_contraception_outlined: '\ea54';
$category-icon-endocrinology: '\ea55';
$category-icon-endocrinology_outlined: '\ea56';
$category-icon-equipment: '\ea57';
$category-icon-equipment_outlined: '\ea58';
$category-icon-face_masks: '\ea59';
$category-icon-face_masks_outlined: '\ea5a';
$category-icon-family_area: '\ea5b';
$category-icon-family_area_outlined: '\ea5c';
$category-icon-find_healthcare: '\ea5d';
$category-icon-find_healthcare_outlined: '\ea5e';
$category-icon-food: '\ea5f';
$category-icon-food_distribution: '\ea60';
$category-icon-food_distribution_outlined: '\ea61';
$category-icon-food_outlined: '\ea62';
$category-icon-food_packages: '\ea63';
$category-icon-food_packages_outlined: '\ea64';
$category-icon-food_voucher: '\ea65';
$category-icon-food_voucher_outlined: '\ea66';
$category-icon-fountain: '\ea67';
$category-icon-fountain_outlined: '\ea68';
$category-icon-french_course: '\ea69';
$category-icon-french_course_outlined: '\ea6a';
$category-icon-gastroenterology: '\ea6b';
$category-icon-gastroenterology_outlined: '\ea6c';
$category-icon-general_practitioner: '\ea6d';
$category-icon-general_practitioner_outlined: '\ea6e';
$category-icon-gynecology: '\ea6f';
$category-icon-gynecology_outlined: '\ea70';
$category-icon-hairdresser: '\ea71';
$category-icon-hairdresser_outlined: '\ea72';
$category-icon-health: '\ea73';
$category-icon-health_access: '\ea74';
$category-icon-health_access_outlined: '\ea75';
$category-icon-health_assessment: '\ea76';
$category-icon-health_assessment_outlined: '\ea77';
$category-icon-health_coverage: '\ea78';
$category-icon-health_coverage_outlined: '\ea79';
$category-icon-health_outlined: '\ea7a';
$category-icon-health_specialists: '\ea7b';
$category-icon-health_specialists_outlined: '\ea7c';
$category-icon-hearing_care: '\ea7d';
$category-icon-hearing_care_outlined: '\ea7e';
$category-icon-hiv_prevention: '\ea7f';
$category-icon-hiv_prevention_outlined: '\ea80';
$category-icon-hygiene_and_wellness: '\ea81';
$category-icon-hygiene_and_wellness_outlined: '\ea82';
$category-icon-hygiene_products: '\ea83';
$category-icon-hygiene_products_outlined: '\ea84';
$category-icon-infirmary: '\ea85';
$category-icon-infirmary_outlined: '\ea86';
$category-icon-information_point: '\ea87';
$category-icon-information_point_outlined: '\ea88';
$category-icon-integration_through_economic_activity: '\ea89';
$category-icon-integration_through_economic_activity_outlined: '\ea8a';
$category-icon-job_coaching: '\ea8b';
$category-icon-job_coaching_outlined: '\ea8c';
$category-icon-kinesitherapy: '\ea8d';
$category-icon-kinesitherapy_outlined: '\ea8e';
$category-icon-laundry: '\ea8f';
$category-icon-laundry_outlined: '\ea90';
$category-icon-legal_advice: '\ea91';
$category-icon-legal_advice_outlined: '\ea92';
$category-icon-legal_protection: '\ea93';
$category-icon-legal_protection_outlined: '\ea94';
$category-icon-libraries: '\ea95';
$category-icon-libraries_outlined: '\ea96';
$category-icon-long_term_accomodation: '\ea97';
$category-icon-long_term_accomodation_outlined: '\ea98';
$category-icon-luggage_storage: '\ea99';
$category-icon-luggage_storage_outlined: '\ea9a';
$category-icon-mammography: '\ea9b';
$category-icon-mammography_outlined: '\ea9c';
$category-icon-medical_accommodation: '\ea9d';
$category-icon-medical_accommodation_outlined: '\ea9e';
$category-icon-mental_health: '\ea9f';
$category-icon-mental_health_education: '\eaa0';
$category-icon-mental_health_education_outlined: '\eaa1';
$category-icon-mental_health_outlined: '\eaa2';
$category-icon-mobility: '\eaa3';
$category-icon-mobility_financing: '\eaa4';
$category-icon-mobility_financing_outlined: '\eaa5';
$category-icon-mobility_outlined: '\eaa6';
$category-icon-mobility_support: '\eaa7';
$category-icon-mobility_support_outlined: '\eaa8';
$category-icon-museums: '\eaa9';
$category-icon-museums_outlined: '\eaaa';
$category-icon-neurology: '\eaab';
$category-icon-neurology_outlined: '\eaac';
$category-icon-nutrition: '\eaad';
$category-icon-nutrition_outlined: '\eaae';
$category-icon-ophthalmology: '\eaaf';
$category-icon-ophthalmology_outlined: '\eab0';
$category-icon-optical_care: '\eab1';
$category-icon-optical_care_outlined: '\eab2';
$category-icon-osteopathy: '\eab3';
$category-icon-osteopathy_outlined: '\eab4';
$category-icon-other_activities: '\eab5';
$category-icon-other_activities_outlined: '\eab6';
$category-icon-otorhinolaryngology: '\eab7';
$category-icon-otorhinolaryngology_outlined: '\eab8';
$category-icon-overnight_stop: '\eab9';
$category-icon-overnight_stop_outlined: '\eaba';
$category-icon-parent_assistance: '\eabb';
$category-icon-parent_assistance_outlined: '\eabc';
$category-icon-parenthood: '\eabd';
$category-icon-parenthood_outlined: '\eabe';
$category-icon-pedicure: '\eabf';
$category-icon-pedicure_outlined: '\eac0';
$category-icon-personal_vehicle_access: '\eac1';
$category-icon-personal_vehicle_access_outlined: '\eac2';
$category-icon-phlebology: '\eac3';
$category-icon-phlebology_outlined: '\eac4';
$category-icon-physical_health: '\eac5';
$category-icon-physical_health_outlined: '\eac6';
$category-icon-pneumology: '\eac7';
$category-icon-pneumology_outlined: '\eac8';
$category-icon-pregnancy_care: '\eac9';
$category-icon-pregnancy_care_outlined: '\eaca';
$category-icon-psychiatry: '\eacb';
$category-icon-psychiatry_outlined: '\eacc';
$category-icon-psychological_support: '\eacd';
$category-icon-psychological_support_outlined: '\eace';
$category-icon-public_writer: '\eacf';
$category-icon-public_writer_outlined: '\ead0';
$category-icon-radiology: '\ead1';
$category-icon-radiology_outlined: '\ead2';
$category-icon-regularization: '\ead3';
$category-icon-regularization_outlined: '\ead4';
$category-icon-rest_area: '\ead5';
$category-icon-rest_area_outlined: '\ead6';
$category-icon-rheumatology: '\ead7';
$category-icon-rheumatology_outlined: '\ead8';
$category-icon-sexual_health: '\ead9';
$category-icon-sexual_health_education: '\eada';
$category-icon-sexual_health_education_outlined: '\eadb';
$category-icon-sexual_health_outlined: '\eadc';
$category-icon-sexual_health_vaccination: '\eadd';
$category-icon-sexual_health_vaccination_outlined: '\eade';
$category-icon-sexual_violence_support: '\eadf';
$category-icon-sexual_violence_support_outlined: '\eae0';
$category-icon-shared_kitchen: '\eae1';
$category-icon-shared_kitchen_outlined: '\eae2';
$category-icon-shower: '\eae3';
$category-icon-shower_outlined: '\eae4';
$category-icon-social_accompaniment: '\eae5';
$category-icon-social_accompaniment_outlined: '\eae6';
$category-icon-social_grocery_stores: '\eae7';
$category-icon-social_grocery_stores_outlined: '\eae8';
$category-icon-solidarity_fridge: '\eae9';
$category-icon-solidarity_fridge_outlined: '\eaea';
$category-icon-solidarity_store: '\eaeb';
$category-icon-solidarity_store_outlined: '\eaec';
$category-icon-spanish_course: '\eaed';
$category-icon-spanish_course_outlined: '\eaee';
$category-icon-speech_therapy: '\eaef';
$category-icon-speech_therapy_outlined: '\eaf0';
$category-icon-sport_activities: '\eaf1';
$category-icon-sport_activities_outlined: '\eaf2';
$category-icon-std_testing: '\eaf3';
$category-icon-std_testing_outlined: '\eaf4';
$category-icon-sti_prevention_testing: '\eaf5';
$category-icon-sti_prevention_testing_outlined: '\eaf6';
$category-icon-stomatology: '\eaf7';
$category-icon-stomatology_outlined: '\eaf8';
$category-icon-support_groups: '\eaf9';
$category-icon-support_groups_outlined: '\eafa';
$category-icon-technology: '\eafb';
$category-icon-technology_outlined: '\eafc';
$category-icon-telephone_at_your_disposal: '\eafd';
$category-icon-telephone_at_your_disposal_outlined: '\eafe';
$category-icon-therapeutic_activities: '\eaff';
$category-icon-therapeutic_activities_outlined: '\eb00';
$category-icon-toilets: '\eb01';
$category-icon-toilets_outlined: '\eb02';
$category-icon-training_and_jobs: '\eb03';
$category-icon-training_and_jobs_outlined: '\eb04';
$category-icon-transportation_mobility: '\eb05';
$category-icon-transportation_mobility_outlined: '\eb06';
$category-icon-tutoring: '\eb07';
$category-icon-tutoring_outlined: '\eb08';
$category-icon-urology: '\eb09';
$category-icon-urology_outlined: '\eb0a';
$category-icon-vaccination: '\eb0b';
$category-icon-vaccination_outlined: '\eb0c';
$category-icon-vascular_surgery: '\eb0d';
$category-icon-vascular_surgery_outlined: '\eb0e';
$category-icon-vehicle_maintenance: '\eb0f';
$category-icon-vehicle_maintenance_outlined: '\eb10';
$category-icon-vet_care: '\eb11';
$category-icon-vet_care_outlined: '\eb12';
$category-icon-welcome: '\eb13';
$category-icon-welcome_outlined: '\eb14';
$category-icon-wellness: '\eb15';
$category-icon-wellness_outlined: '\eb16';
$category-icon-wifi: '\eb17';
$category-icon-wifi_outlined: '\eb18';
