h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.15rem;
  color: rgba(28, 28, 28);
}

.helper-container {
  background: white;
  border: 1px solid rgba(72, 101, 217, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1.2rem;
  margin-bottom: 1.5rem;
}

svg {
  height: 1rem;
}
