.history-update {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

.added {
  border-left: 6px solid var(--bs-success);
}
.deleted {
  border-left: 6px solid var(--bs-danger);
}
.edited {
  border-left: 6px solid var(--bs-warning);
}
.unchanged {
  border-left: 6px solid #8a8a8a;
}

section {
  background: white;
  border: 1px solid rgba(72, 101, 217, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1.25rem 1.5rem !important;
  margin-bottom: 1.5rem;
}
