.pwd-strength-meter,
.pwd-strength-meter-full {
  height: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.pwd-strength-meter-full {
  margin-top: 8px;
}

.used-email {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #da3849;
}

.user-email {
  text-decoration: underline;
}

.is-invalid-languages {
  border: #da3849 1px solid;
  border-radius: 0.25rem;
}

.is-valid-languages {
  border: #00a851 1px solid;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
