/*
 * Soliguide: Useful information for those who need it
 *
 * SPDX-FileCopyrightText: © 2025 Solinum
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
@font-face {
  font-family: "categories-icons";
  src: url("../fonts/icons/categories-icons.woff2?t=1742920883369")
      format("woff2"),
    url("../fonts/icons/categories-icons.woff?t=1742920883369") format("woff");
}

[class^="category-icon-"],
[class*=" category-icon-"] {
  font-family: "categories-icons" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.category-icon-access_to_housing::before {
  content: "\ea01";
}
.category-icon-accomodation_and_housing::before {
  content: "\ea02";
}
.category-icon-activities::before {
  content: "\ea03";
}
.category-icon-acupuncture::before {
  content: "\ea04";
}
.category-icon-addiction::before {
  content: "\ea05";
}
.category-icon-administrative_assistance::before {
  content: "\ea06";
}
.category-icon-allergology::before {
  content: "\ea07";
}
.category-icon-animal_assitance::before {
  content: "\ea08";
}
.category-icon-baby_parcel::before {
  content: "\ea09";
}
.category-icon-babysitting::before {
  content: "\ea0a";
}
.category-icon-budget_advice::before {
  content: "\ea0b";
}
.category-icon-cardiology::before {
  content: "\ea0c";
}
.category-icon-carpooling::before {
  content: "\ea0d";
}
.category-icon-catalan_course::before {
  content: "\ea0e";
}
.category-icon-chauffeur_driven_transport::before {
  content: "\ea0f";
}
.category-icon-child_care::before {
  content: "\ea10";
}
.category-icon-citizen_housing::before {
  content: "\ea11";
}
.category-icon-clothing::before {
  content: "\ea12";
}
.category-icon-community_garden::before {
  content: "\ea13";
}
.category-icon-computers_at_your_disposal::before {
  content: "\ea14";
}
.category-icon-cooking_workshop::before {
  content: "\ea15";
}
.category-icon-counseling::before {
  content: "\ea16";
}
.category-icon-day_hosting::before {
  content: "\ea17";
}
.category-icon-dental_care::before {
  content: "\ea18";
}
.category-icon-dermatology::before {
  content: "\ea19";
}
.category-icon-digital_safe::before {
  content: "\ea1a";
}
.category-icon-digital_tools_training::before {
  content: "\ea1b";
}
.category-icon-disability_advice::before {
  content: "\ea1c";
}
.category-icon-domiciliation::before {
  content: "\ea1d";
}
.category-icon-echography::before {
  content: "\ea1e";
}
.category-icon-electrical_outlets_available::before {
  content: "\ea1f";
}
.category-icon-emergency_accommodation::before {
  content: "\ea20";
}
.category-icon-endocrinology::before {
  content: "\ea21";
}
.category-icon-equipment::before {
  content: "\ea22";
}
.category-icon-face_masks::before {
  content: "\ea23";
}
.category-icon-family_area::before {
  content: "\ea24";
}
.category-icon-food::before {
  content: "\ea25";
}
.category-icon-food_distribution::before {
  content: "\ea26";
}
.category-icon-food_packages::before {
  content: "\ea27";
}
.category-icon-food_voucher::before {
  content: "\ea28";
}
.category-icon-fountain::before {
  content: "\ea29";
}
.category-icon-french_course::before {
  content: "\ea2a";
}
.category-icon-gastroenterology::before {
  content: "\ea2b";
}
.category-icon-general_practitioner::before {
  content: "\ea2c";
}
.category-icon-gynecology::before {
  content: "\ea2d";
}
.category-icon-hairdresser::before {
  content: "\ea2e";
}
.category-icon-health::before {
  content: "\ea2f";
}
.category-icon-health_specialists::before {
  content: "\ea30";
}
.category-icon-hygiene_and_wellness::before {
  content: "\ea31";
}
.category-icon-hygiene_products::before {
  content: "\ea32";
}
.category-icon-infirmary::before {
  content: "\ea33";
}
.category-icon-information_point::before {
  content: "\ea34";
}
.category-icon-integration_through_economic_activity::before {
  content: "\ea35";
}
.category-icon-job_coaching::before {
  content: "\ea36";
}
.category-icon-kinesitherapy::before {
  content: "\ea37";
}
.category-icon-laundry::before {
  content: "\ea38";
}
.category-icon-legal_advice::before {
  content: "\ea39";
}
.category-icon-legal_protection::before {
  content: "\ea3a";
}
.category-icon-libraries::before {
  content: "\ea3b";
}
.category-icon-long_term_accomodation::before {
  content: "\ea3c";
}
.category-icon-luggage_storage::before {
  content: "\ea3d";
}
.category-icon-mammography::before {
  content: "\ea3e";
}
.category-icon-mobility::before {
  content: "\ea3f";
}
.category-icon-mobility_assistance::before {
  content: "\ea40";
}
.category-icon-museums::before {
  content: "\ea41";
}
.category-icon-nutrition::before {
  content: "\ea42";
}
.category-icon-ophthalmology::before {
  content: "\ea43";
}
.category-icon-osteopathy::before {
  content: "\ea44";
}
.category-icon-other_activities::before {
  content: "\ea45";
}
.category-icon-otorhinolaryngology::before {
  content: "\ea46";
}
.category-icon-overnight_stop::before {
  content: "\ea47";
}
.category-icon-parent_assistance::before {
  content: "\ea48";
}
.category-icon-pedicure::before {
  content: "\ea49";
}
.category-icon-phlebology::before {
  content: "\ea4a";
}
.category-icon-pneumology::before {
  content: "\ea4b";
}
.category-icon-pregnancy_care::before {
  content: "\ea4c";
}
.category-icon-provision_of_vehicles::before {
  content: "\ea4d";
}
.category-icon-psychological_support::before {
  content: "\ea4e";
}
.category-icon-public_writer::before {
  content: "\ea4f";
}
.category-icon-radiology::before {
  content: "\ea50";
}
.category-icon-rest_area::before {
  content: "\ea51";
}
.category-icon-rheumatology::before {
  content: "\ea52";
}
.category-icon-seated_catering::before {
  content: "\ea53";
}
.category-icon-shared_kitchen::before {
  content: "\ea54";
}
.category-icon-shower::before {
  content: "\ea55";
}
.category-icon-social_accompaniment::before {
  content: "\ea56";
}
.category-icon-social_grocery_stores::before {
  content: "\ea57";
}
.category-icon-solidarity_fridge::before {
  content: "\ea58";
}
.category-icon-solidarity_fridge_outline::before {
  content: "\ea59";
}
.category-icon-solidarity_store::before {
  content: "\ea5a";
}
.category-icon-spanish_course::before {
  content: "\ea5b";
}
.category-icon-speech_therapy::before {
  content: "\ea5c";
}
.category-icon-sport_activities::before {
  content: "\ea5d";
}
.category-icon-std_testing::before {
  content: "\ea5e";
}
.category-icon-stomatology::before {
  content: "\ea5f";
}
.category-icon-technology::before {
  content: "\ea60";
}
.category-icon-telephone_at_your_disposal::before {
  content: "\ea61";
}
.category-icon-toilets::before {
  content: "\ea62";
}
.category-icon-training_and_jobs::before {
  content: "\ea63";
}
.category-icon-tutoring::before {
  content: "\ea64";
}
.category-icon-urology::before {
  content: "\ea65";
}
.category-icon-vaccination::before {
  content: "\ea66";
}
.category-icon-vet_care::before {
  content: "\ea67";
}
.category-icon-welcome::before {
  content: "\ea68";
}
.category-icon-wellness::before {
  content: "\ea69";
}
.category-icon-wifi::before {
  content: "\ea6a";
}

$category-icon-access_to_housing: "\ea01";
$category-icon-accomodation_and_housing: "\ea02";
$category-icon-activities: "\ea03";
$category-icon-acupuncture: "\ea04";
$category-icon-addiction: "\ea05";
$category-icon-administrative_assistance: "\ea06";
$category-icon-allergology: "\ea07";
$category-icon-animal_assitance: "\ea08";
$category-icon-baby_parcel: "\ea09";
$category-icon-babysitting: "\ea0a";
$category-icon-budget_advice: "\ea0b";
$category-icon-cardiology: "\ea0c";
$category-icon-carpooling: "\ea0d";
$category-icon-catalan_course: "\ea0e";
$category-icon-chauffeur_driven_transport: "\ea0f";
$category-icon-child_care: "\ea10";
$category-icon-citizen_housing: "\ea11";
$category-icon-clothing: "\ea12";
$category-icon-community_garden: "\ea13";
$category-icon-computers_at_your_disposal: "\ea14";
$category-icon-cooking_workshop: "\ea15";
$category-icon-counseling: "\ea16";
$category-icon-day_hosting: "\ea17";
$category-icon-dental_care: "\ea18";
$category-icon-dermatology: "\ea19";
$category-icon-digital_safe: "\ea1a";
$category-icon-digital_tools_training: "\ea1b";
$category-icon-disability_advice: "\ea1c";
$category-icon-domiciliation: "\ea1d";
$category-icon-echography: "\ea1e";
$category-icon-electrical_outlets_available: "\ea1f";
$category-icon-emergency_accommodation: "\ea20";
$category-icon-endocrinology: "\ea21";
$category-icon-equipment: "\ea22";
$category-icon-face_masks: "\ea23";
$category-icon-family_area: "\ea24";
$category-icon-food: "\ea25";
$category-icon-food_distribution: "\ea26";
$category-icon-food_packages: "\ea27";
$category-icon-food_voucher: "\ea28";
$category-icon-fountain: "\ea29";
$category-icon-french_course: "\ea2a";
$category-icon-gastroenterology: "\ea2b";
$category-icon-general_practitioner: "\ea2c";
$category-icon-gynecology: "\ea2d";
$category-icon-hairdresser: "\ea2e";
$category-icon-health: "\ea2f";
$category-icon-health_specialists: "\ea30";
$category-icon-hygiene_and_wellness: "\ea31";
$category-icon-hygiene_products: "\ea32";
$category-icon-infirmary: "\ea33";
$category-icon-information_point: "\ea34";
$category-icon-integration_through_economic_activity: "\ea35";
$category-icon-job_coaching: "\ea36";
$category-icon-kinesitherapy: "\ea37";
$category-icon-laundry: "\ea38";
$category-icon-legal_advice: "\ea39";
$category-icon-legal_protection: "\ea3a";
$category-icon-libraries: "\ea3b";
$category-icon-long_term_accomodation: "\ea3c";
$category-icon-luggage_storage: "\ea3d";
$category-icon-mammography: "\ea3e";
$category-icon-mobility: "\ea3f";
$category-icon-mobility_assistance: "\ea40";
$category-icon-museums: "\ea41";
$category-icon-nutrition: "\ea42";
$category-icon-ophthalmology: "\ea43";
$category-icon-osteopathy: "\ea44";
$category-icon-other_activities: "\ea45";
$category-icon-otorhinolaryngology: "\ea46";
$category-icon-overnight_stop: "\ea47";
$category-icon-parent_assistance: "\ea48";
$category-icon-pedicure: "\ea49";
$category-icon-phlebology: "\ea4a";
$category-icon-pneumology: "\ea4b";
$category-icon-pregnancy_care: "\ea4c";
$category-icon-provision_of_vehicles: "\ea4d";
$category-icon-psychological_support: "\ea4e";
$category-icon-public_writer: "\ea4f";
$category-icon-radiology: "\ea50";
$category-icon-rest_area: "\ea51";
$category-icon-rheumatology: "\ea52";
$category-icon-seated_catering: "\ea53";
$category-icon-shared_kitchen: "\ea54";
$category-icon-shower: "\ea55";
$category-icon-social_accompaniment: "\ea56";
$category-icon-social_grocery_stores: "\ea57";
$category-icon-solidarity_fridge: "\ea58";
$category-icon-solidarity_fridge_outline: "\ea59";
$category-icon-solidarity_store: "\ea5a";
$category-icon-spanish_course: "\ea5b";
$category-icon-speech_therapy: "\ea5c";
$category-icon-sport_activities: "\ea5d";
$category-icon-std_testing: "\ea5e";
$category-icon-stomatology: "\ea5f";
$category-icon-technology: "\ea60";
$category-icon-telephone_at_your_disposal: "\ea61";
$category-icon-toilets: "\ea62";
$category-icon-training_and_jobs: "\ea63";
$category-icon-tutoring: "\ea64";
$category-icon-urology: "\ea65";
$category-icon-vaccination: "\ea66";
$category-icon-vet_care: "\ea67";
$category-icon-welcome: "\ea68";
$category-icon-wellness: "\ea69";
$category-icon-wifi: "\ea6a";
