ul {
  padding: 0;
  margin: 0;
}

li {
  line-height: 2.1rem;
  list-style-type: none;
}

.ng-fa-icon[data-icon="location-dot"] {
  display: inline-block;
  width: 22px;
  margin-right: 14px;
  font-size: 1.35rem;
  vertical-align: middle;
  color: #e65a46;
}

.left-icon-text {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--bs-primary);
  vertical-align: middle;
  letter-spacing: 0.2px;
}

.additional_info {
  margin-left: 0.3rem;
  vertical-align: middle;
  color: black;
}

.point_description {
  margin-left: 3rem;
  margin-bottom: 0.5rem;
}

.point_photos {
  margin-left: 3.5rem;
  margin-bottom: 1rem;
}
