.cgu-invalid,
.contacts-invalid {
  color: var(--bs-secondary);
}
.form-switch {
  margin-top: -10px;
}

.cgu.is-invalid,
.contacts.is-invalid {
  position: relative;
  padding: 0.85rem;
  border: 1px solid var(--bs-secondary);
  border-radius: 6px;
}

.cgu-description {
  margin-left: 1rem;
  font-weight: 400;
}

.contact-name {
  display: block;
  font-weight: 700;
  font-size: 1.05rem;
}

.contact-title {
  color: #5e5e5e;
}

.contact-infos .ng-fa-icon {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.3rem;
  vertical-align: middle;
  color: var(--bs-secondary);
}

.edit-user {
  flex: 0 0 4%;
  max-width: 4%;
}
