ul {
  list-style-type: circle;
  margin: 0;
  padding-top: 0.25rem;
  padding-left: 1.5rem;
}

.link-invitation {
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  color: #3e3a71;
  text-decoration: underline;
}

.link-invitation:hover {
  color: #0056b3;
  text-decoration: underline;
}
